In [1]:
from tabulate import tabulate

In [2]:
import pandas as pd

In [8]:
summary = pd.read_excel('../data/sel_summary.xlsx', index_col=0)

In [13]:
summary.columns

Index(['num', 'Power', 'area_10X', 'ratio', 'ori_real_area', 'sel_real_area'], dtype='object')

In [17]:
pd.options.display.float_format = '{:.2E}'.format

In [18]:
summary.loc[['mean', 'std', 'min',  'max'], ['num', 'ratio'] ]

          num    ratio
mean 2.98E+03 5.73E-02
std  3.38E+03 6.17E-02
min  5.00E+01 2.58E-04
max  2.80E+04 5.60E-01

In [20]:
tabulate(summary.loc[['mean', 'std', 'min',  'max'], ['num', 'ratio'] ], tablefmt="pipe", headers="keys", floatfmt=".2e")

'|      |      num |    ratio |\n|:-----|---------:|---------:|\n| mean | 2.98e+03 | 5.73e-02 |\n| std  | 3.38e+03 | 6.17e-02 |\n| min  | 5.00e+01 | 2.58e-04 |\n| max  | 2.80e+04 | 5.60e-01 |'