In [1]:
import re
import pandas as pd
import numpy as np

In [62]:
pattern = r'(?P<day>\d+-\d+-\d+)\s(?P<time>\d+:\d+:\d+).*train:(?P<train>\d+.\d+)\snum:(?P<num>\d+);.*val:(?P<val>\d+.\d+)\s'
result = re.compile(pattern)

with open('../../main.log') as log:
    line = result.finditer(log.read())

In [53]:
from collections import defaultdict

In [63]:
record = defaultdict(list)

In [64]:
while 1:
    try:
        m = next(line)
        for k, v in m.groupdict().items():
            record[k].append(v)
    except StopIteration:
        break

In [65]:
log_df = pd.DataFrame.from_dict(record)

In [74]:
log_df['num'] = pd.to_numeric(log_df['num'])

In [75]:
log_df['train'] = pd.to_numeric(log_df['train'])
log_df['val'] = pd.to_numeric(log_df['val'])

In [71]:
log_df['day'] = pd.to_datetime(log_df['day'])

In [111]:
log_df['time'] = log_df.day + pd.to_timedelta(log_df.time)

In [160]:
log_df_clean = log_df.copy()

In [161]:
log_df_clean['aug'] = True

In [162]:
log_df_clean['size'] = 0

Without augmentation, 256

In [163]:
log_df_clean.loc[(log_df.time<='2019-03-21 02:03:50')&
                 (log_df.time>='2019-03-20 21:29:06'), 'aug'] = False

In [164]:
log_df_clean.loc[(log_df.time<='2019-03-21 02:03:50')&
                 (log_df.time>='2019-03-20 21:29:06'), 'size'] = 256

With augmentation, 512

In [165]:
log_df_clean.loc[('2019-03-20 16:29:59'<=log_df.time)&
                 (log_df.time<='2019-03-20 18:56:42'), 'size'] = 512

With augmentation, 256

In [166]:
log_df_clean.loc[(log_df.time<='2019-03-19 19:36:06')&
                 (log_df.time>='2019-03-19 15:05:55'), 'size'] = 256

In [167]:
log_df_clean = log_df_clean.loc[log_df_clean['size']>1]

In [186]:
log_df_clean.to_excel('../data/performance_p1.xlsx')

###  Without augmentation, 256

In [168]:
noaug = log_df_clean.loc[(log_df_clean['size']==256)&
                         (log_df_clean['aug']==False)]

#### 2/8

The best outcome of val is 0.683. The best result of train is 0.56.

In [173]:
noaug.loc[(noaug['num']==607)&(noaug['val']>0.68)]

           day                time     train  num      val    aug  size
165 2019-03-21 2019-03-21 00:57:38  0.533261  607  0.68399  False   256

In [174]:
noaug.loc[(noaug['num']==607)&(noaug['train']>0.56)]

           day                time     train  num       val    aug  size
188 2019-03-21 2019-03-21 01:32:44  0.560684  607  0.597969  False   256

### With 10 times augmentation, 256

In [171]:
half = log_df_clean.loc[(log_df_clean['size']==256)&
                        (log_df_clean['aug']==True)]

In [172]:
half.groupby('num')['train', 'val'].max()

        train       val
num
380  0.573276  0.577001
607  0.531677  0.600956

#### 5/5

The best outcome of val is 0.577. The best result of train is 0.573.

In [177]:
half.loc[(half['num']==380)&(half['val']>0.57)]

          day                time     train  num       val   aug  size
14 2019-03-19 2019-03-19 17:29:26  0.482504  380  0.577001  True   256

In [176]:
half.loc[(half['num']==380)&(half['train']>0.56)]

          day                time     train  num       val   aug  size
10 2019-03-19 2019-03-19 17:08:45  0.573276  380  0.528722  True   256

#### 2/8

The best outcome of val is 0.600. The best result of train is 0.531.

In [178]:
half.loc[(log_df['num']==607)&(log_df['val']>0.60)]

         day                time     train  num       val   aug  size
1 2019-03-19 2019-03-19 15:25:01  0.440719  607  0.600956  True   256

In [179]:
half.loc[(log_df['num']==607)&(log_df['train']>0.53)]

          day                time     train  num       val   aug  size
24 2019-03-19 2019-03-19 18:57:34  0.531677  607  0.422342  True   256

### With 10 times augmentation, 512

In [180]:
large = log_df_clean.loc[(log_df_clean['size']==512)&
                        (log_df_clean['aug']==True)]

#### 2/8

The best outcome of val is 0.615. The best result of train is 0.519.

In [181]:
large.groupby('num')['train', 'val'].max()

        train      val
num
607  0.519097  0.61589

In [184]:
large.loc[(large['num']==607)&(large['train']>0.519)]

          day                time     train  num       val   aug  size
55 2019-03-20 2019-03-20 16:42:07  0.519097  607  0.506571  True   512

In [183]:
large.loc[(large['num']==607)&(large['val']>0.61)]

          day                time     train  num      val   aug  size
84 2019-03-20 2019-03-20 18:27:30  0.488053  607  0.61589  True   512