In [2]:
import re
import pandas as pd
import numpy as np
from collections import defaultdict

In [4]:
pattern = r'(?P<day>\d+-\d+-\d+)\s(?P<time>\d+:\d+:\d+).*train:(?P<train>\d+.\d+)\snum:(?P<num>\d+);.*val:(?P<val>\d+.\d+)\s'
pattern0 = r'(?P<day>\d+-\d+-\d+)\s(?P<time>\d+:\d+:\d+).*train:(?P<train>\d+.\d+);.*val:(?P<val>\d+.\d+)\s'

In [1]:
pattern1 = r'(?P<day>\d+-\d+-\d+)\s(?P<time>\d+:\d+:\d+).*train:(?P<train>\d+.\d+)\snum:(?P<num>\d+);.*val:(?P<val>\d+.\d+).*size:(?P<size>\d+)'

In [5]:
def collect(p='../../main.log', pa=pattern):
    with open(p) as log:
        result = re.compile(pa)
        line = result.finditer(log.read())
    return line

In [6]:
def collect_aux(line):
    record = defaultdict(list)
    while 1:
        try:
            m = next(line)
            for k, v in m.groupdict().items():
                record[k].append(v)
        except StopIteration:
            break
    return record

In [7]:
 def clean_data(record):
    log_df = pd.DataFrame.from_dict(record)
    try:
        log_df['num'] = pd.to_numeric(log_df['num'])
    except KeyError:
        log_df['num'] = 380
    log_df['train'] = pd.to_numeric(log_df['train'])
    log_df['val'] = pd.to_numeric(log_df['val'])
    log_df['day'] = pd.to_datetime(log_df['day'])
    log_df['time'] = log_df.day + pd.to_timedelta(log_df.time)
    return log_df

In [8]:
def log_data_pipe(p='../../main.log', pa=pattern):
    line = collect(p, pa=pa)
    record = collect_aux(line)
    log_df = clean_data(record)
    return log_df

In [8]:
log_df = log_data_pipe(p='../../main+ - Copy (3).log')

In [9]:
log_df.to_excel('../../temp.xlsx')

In [9]:
log_df.loc[log_df.train==log_df.train.max()]

          day                time     train  num       val
89 2019-03-25 2019-03-25 15:37:16  0.592135  607  0.592593

In [10]:
log_df.loc[log_df.val==log_df.val.max()]

           day                time    train  num       val
197 2019-03-25 2019-03-25 18:14:56  0.57874  607  0.753883

In [7]:
log_df0 = log_data_pipe(p='../../train.log', pa=pattern0)
log_df1 = log_data_pipe()

In [9]:
log_df1 = log_data_pipe(p='../../main+ - Copy (3).log', pa=pattern1)

log_df1['size'] = pd.to_numeric(log_df1['size'])

log_df1['aug'] = False
log_df1.to_excel('../data/512_400time.xlsx')

In [27]:
log_df_clean = log_df0.append(log_df1)
log_df_clean['aug'] = True
log_df_clean['size'] = 0

Without augmentation, 256

In [28]:
log_df_clean.loc[(log_df_clean.time<='2019-03-21 00:01:35')&
                 (log_df_clean.time>='2019-03-20 21:29:06'), 'aug'] = False

log_df_clean.loc[(log_df_clean.time<='2019-03-21 00:01:35')&
                 (log_df_clean.time>='2019-03-20 21:29:06'), 'size'] = 256

In [29]:
log_df_clean.loc[(log_df_clean.time<='2019-03-21 13:13:39')&
                 (log_df_clean.time>='2019-03-21 12:15:06'), 'aug'] = False

log_df_clean.loc[(log_df_clean.time<='2019-03-21 13:13:39')&
                 (log_df_clean.time>='2019-03-21 12:15:06'), 'size'] = 256

log_df_clean.loc[(log_df.time<='2019-03-20 11:30:50')&
                 (log_df.time>='2019-03-20 09:28:06'), 'aug'] = False

log_df_clean.loc[(log_df.time<='2019-03-20 11:30:50')&
                 (log_df.time>='2019-03-20 09:28:06'), 'size'] = 256

Without augmentation, 512

In [30]:
log_df_clean.loc[('2019-03-21 14:27:13'<=log_df_clean.time)&
                 (log_df_clean.time<='2019-03-21 17:39:24'), 'aug'] = False

log_df_clean.loc[('2019-03-21 14:27:13'<=log_df_clean.time)&
                 (log_df_clean.time<='2019-03-21 17:39:24'), 'size'] = 512

In [31]:
log_df_clean.loc[('2019-03-22 10:33:33'<=log_df_clean.time)&
                 (log_df_clean.time<='2019-03-22 11:34:35'), 'aug'] = False

log_df_clean.loc[('2019-03-22 10:33:33'<=log_df_clean.time)&
                 (log_df_clean.time<='2019-03-22 11:34:35'),  'size'] = 512

With augmentation, 512

In [32]:
log_df_clean.loc[('2019-03-20 16:29:59'<=log_df_clean.time)&
                 (log_df_clean.time<='2019-03-20 18:56:42'), 'size'] = 512

In [33]:
log_df_clean.loc[('2019-03-21 20:17:59'<=log_df_clean.time)&
                 (log_df_clean.time<='2019-03-22 01:48:42'), 'size'] = 512

With augmentation, 256

In [34]:
log_df_clean.loc[(log_df_clean.time<='2019-03-19 13:37:12')&
                 (log_df_clean.time>='2019-03-19 12:21:56'), 'size'] = 256

In [35]:
log_df_clean.loc[(log_df_clean.time<='2019-03-21 20:15:05')&
                 (log_df_clean.time>='2019-03-21 17:53:31'), 'size'] = 256

In [36]:
log_df_clean = log_df_clean.loc[log_df_clean['size']>1]

In [37]:
log_df_clean.groupby(['size', 'aug','num']).size()

size  aug    num
256   False  380    40
             607    40
      True   380    40
             607    40
512   False  380    40
             607    40
      True   380    40
             607    40
dtype: int64

In [38]:
log_df_clean.to_excel('../data/performance_p1.xlsx')

##  Without augmentation, 256

In [40]:
noaug256 = log_df_clean.loc[(log_df_clean['size']==256)&
                         (log_df_clean['aug']==False)]

### 2/8

In [43]:
noaug256.groupby('num')['train', 'val'].max()

        train       val
num
380  0.552027  0.618779
607  0.547878  0.676822

In [44]:
noaug256.loc[(noaug256['num']==607)&(noaug256['val']>0.67)]

           day  num                time     train       val    aug  size
125 2019-03-20  607 2019-03-20 23:06:09  0.515839  0.676822  False   256

In [46]:
noaug256.loc[(noaug256['num']==607)&(noaug256['train']>0.54)]

           day  num                time     train       val    aug  size
135 2019-03-21  607 2019-03-21 00:01:19  0.547878  0.626643  False   256

### 5/5

In [49]:
noaug256.loc[(noaug256['num']==380)&(noaug256['val']>0.618)]

           day  num                time     train       val    aug  size
239 2019-03-21  380 2019-03-21 13:05:18  0.530431  0.618779  False   256

In [50]:
noaug256.loc[(noaug256['num']==380)&(noaug256['train']>0.55)]

           day  num                time     train       val    aug  size
228 2019-03-21  380 2019-03-21 12:49:49  0.552027  0.554513  False   256

##  Without augmentation, 512

In [51]:
noaug512 = log_df_clean.loc[(log_df_clean['size']==512)&
                         (log_df_clean['aug']==False)]

In [52]:
noaug512.groupby('num')['train', 'val'].max()

        train       val
num
380  0.567733  0.635937
607  0.593266  0.663680

### 2/8

In [54]:
noaug512.loc[(noaug512['num']==607)&(noaug512['val']>0.66)]

           day  num                time     train      val    aug  size
255 2019-03-21  607 2019-03-21 14:43:33  0.586026  0.66368  False   512
261 2019-03-21  607 2019-03-21 14:53:07  0.593266  0.66368  False   512

In [55]:
noaug512.loc[(noaug512['num']==607)&(noaug512['train']>0.59)]

           day  num                time     train      val    aug  size
261 2019-03-21  607 2019-03-21 14:53:07  0.593266  0.66368  False   512

### 5/5

In [57]:
noaug512.loc[(noaug512['num']==380)&(noaug512['val']>0.635)]

           day  num                time     train       val    aug  size
374 2019-03-22  380 2019-03-22 10:45:16  0.489895  0.635937  False   512

In [58]:
noaug512.loc[(noaug512['num']==380)&(noaug512['train']>0.567)]

           day  num                time     train       val    aug  size
381 2019-03-22  380 2019-03-22 10:56:28  0.567733  0.576788  False   512

## With 10 times augmentation, 256

In [59]:
aug256 = log_df_clean.loc[(log_df_clean['size']==256)&
                        (log_df_clean['aug']==True)]

In [60]:
aug256.groupby('num')['train', 'val'].max()

        train       val
num
380  0.598914  0.551423
607  0.546430  0.614695

### 5/5

In [63]:
aug256.loc[(aug256['num']==380)&(aug256['val']>0.55)]

           day  num                time    train       val   aug  size
100 2019-03-19  380 2019-03-19 12:21:56  0.53147  0.551423  True   256

In [64]:
aug256.loc[(aug256['num']==380)&(aug256['train']>0.598)]

           day  num                time     train       val   aug  size
116 2019-03-19  380 2019-03-19 12:52:36  0.598914  0.542577  True   256

### 2/8

In [66]:
aug256.loc[(aug256['num']==607)&(aug256['val']>0.61)]

           day  num                time     train       val   aug  size
302 2019-03-21  607 2019-03-21 18:48:30  0.487963  0.614695  True   256

In [65]:
aug256.loc[(aug256['num']==607)&(aug256['train']>0.546)]

           day  num                time    train      val   aug  size
293 2019-03-21  607 2019-03-21 18:16:27  0.54643  0.46595  True   256

## With 10 times augmentation, 512

In [67]:
aug512 = log_df_clean.loc[(log_df_clean['size']==512)&
                        (log_df_clean['aug']==True)]

### 2/8

In [68]:
aug512.groupby('num')['train', 'val'].max()

        train       val
num
380  0.478577  0.581051
607  0.519097  0.615890

In [70]:
aug512.loc[(aug512['num']==607)&(aug512['train']>0.519)]

          day  num                time     train       val   aug  size
55 2019-03-20  607 2019-03-20 16:42:07  0.519097  0.506571  True   512

In [71]:
aug512.loc[(aug512['num']==607)&(aug512['val']>0.61)]

          day  num                time     train      val   aug  size
84 2019-03-20  607 2019-03-20 18:27:30  0.488053  0.61589  True   512

### 5/5

In [72]:
aug512.loc[(aug512['num']==380)&(aug512['val']>0.58)]

           day  num                time     train       val   aug  size
349 2019-03-22  380 2019-03-22 01:01:09  0.402818  0.581051  True   512

In [73]:
aug512.loc[(aug512['num']==380)&(aug512['train']>0.47)]

           day  num                time     train       val   aug  size
360 2019-03-22  380 2019-03-22 01:31:59  0.478577  0.502505  True   512

## Superpara

In [76]:
group = log_df_clean.loc[log_df_clean['num']==607]

In [77]:
len(group)

160

In [78]:
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import ttest_ind, pearsonr

In [ ]:
fig, axes = plt.subplots(2, 2, figsize=(14, 7), sharex='col', sharey='row');
axes_f = axes.flatten()
# sns.set()
test_loc = 'A B C D'.split()
for idx, (num, title) in enumerate(zip((256, 512), ('narmal size', 'large size'))) :
    ax = axes_f[idx]
    g_y = group.loc[(group['aug']==True)&(group['size']==num), 'val'].tolist()
    g_x  = group.loc[(group['aug']==False)&(group['size']==num), 'val'].tolist()
    sns.distplot(g_y, ax = ax, label='with augmentation')
    sns.distplot(g_x, ax = ax, label='without augmentation')
    ax.set_title(title)
    p = ttest_ind(g_y, g_x)[1]
    ax.text(0.9, 0.15, "p-value = {:.3f}".format(p), horizontalalignment='center',
    verticalalignment='center',transform = ax.transAxes, fontsize="medium")
    ax.text(0.05, 0.92, test_loc[idx], horizontalalignment='center',
        verticalalignment='center',transform = ax.transAxes, fontsize="small")
    ax.legend(bbox_to_anchor=(0.98, 0.9), loc=1, borderaxespad=0.)
    
for idx, (aug, title) in enumerate(zip((True, False), ('with augmentation', 'without augmentation')), start=idx+1) :
    ax = axes_f[idx]
    g_y = group.loc[(group['aug']==aug)&(group['size']==256), 'val'].tolist()
    g_x  = group.loc[(group['aug']==aug)&(group['size']==512), 'val'].tolist()
    sns.distplot(g_y, ax = ax, label='normal size')
    sns.distplot(g_x, ax = ax, label='large size')
    ax.set_title(title)
    p = ttest_ind(g_y, g_x)[1]
    ax.text(0.9, 0.15, "p-value = {:.4f}".format(p), horizontalalignment='center',
    verticalalignment='center',transform = ax.transAxes, fontsize="medium")
    ax.text(0.05, 0.92, test_loc[idx], horizontalalignment='center',
    verticalalignment='center',transform = ax.transAxes, fontsize="small")
    ax.legend(bbox_to_anchor=(0.98, 0.9), loc=1, borderaxespad=0.)

plt.tight_layout()

In [132]:
import matplotlib as mpl

sns.set()
mpl.rcParams['font.sans-serif'] = ['SimHei']
mpl.rcParams['font.serif'] = ['SimHei']

sns.set_style("darkgrid",{"font.sans-serif":['simhei', 'Arial']})

In [ ]:
fig, axes = plt.subplots(2, 2, figsize=(13, 7), sharex='col', sharey='row');
axes_f = axes.flatten()
test_loc = 'A B C D'.split()
for idx, (num, title) in enumerate(zip((256, 512), ('narmal size', '增大模型'))) :
    ax = axes_f[idx]
    g_y = group.loc[(group['aug']==True)&(group['size']==num), 'val'].tolist()
    g_x  = group.loc[(group['aug']==False)&(group['size']==num), 'val'].tolist()
    sns.distplot(g_y, ax = ax, label='使用数据增强')
    sns.distplot(g_x, ax = ax, label='不使用数据增强')
#     ax.set_title(title)
    p = ttest_ind(g_y, g_x)[1]
    ax.text(0.88, 0.25, "p值 = {:.3f}".format(p), horizontalalignment='center',
    verticalalignment='center',transform = ax.transAxes, fontsize="medium")
    ax.text(0.05, 0.92, test_loc[idx], horizontalalignment='center',
        verticalalignment='center',transform = ax.transAxes, fontsize="medium")
    ax.legend(bbox_to_anchor=(0.98, 0.9), loc=1, borderaxespad=0.)
#     ax.set(ylabel='c值 (c index)')
    
for idx, (aug, title) in enumerate(zip((True, False), ('使用数据增强', '不使用数据增强')), start=idx+1) :
    ax = axes_f[idx]
    g_y = group.loc[(group['aug']==aug)&(group['size']==256), 'val'].tolist()
    g_x  = group.loc[(group['aug']==aug)&(group['size']==512), 'val'].tolist()
    sns.distplot(g_y, ax = ax, label='基本模型')
    sns.distplot(g_x, ax = ax, label='增大模型')
#     ax.set_title(title)
    p = ttest_ind(g_y, g_x)[1]
    ax.text(0.88, 0.25, "p值 = {:.3f}".format(p), horizontalalignment='center',
    verticalalignment='center',transform = ax.transAxes, fontsize="medium")
    ax.text(0.05, 0.92, test_loc[idx], horizontalalignment='center',
    verticalalignment='center',transform = ax.transAxes, fontsize="medium")
    ax.legend(bbox_to_anchor=(0.98, 0.9), loc=1, borderaxespad=0.)
#     ax.set(xlabel='密度', ylabel='c值 (c index)')
fig.text(0.5,0., "c值 (c index)", ha="center", va="center")
fig.text(0,0.5, "密度", ha="center", va="center", rotation=90)
plt.tight_layout()
plt.savefig('comp.png', dpi=300, bbox_inches="tight")

### 400 Times

In [8]:
p0 = log_df1.loc[(log_df1.time<='2019-03-21 00:01:19')&
                 (log_df1.time>=' 2019-03-20 21:29:28')]

In [9]:
p1 = log_df1.loc[(log_df1.time<='2019-03-21 02:03:50')&
                 (log_df1.time>='2019-03-21 00:23:23')]

In [10]:
p2 = log_df1.loc[(log_df1.time<='2019-03-22 19:01:44')&
                 (log_df1.time>='2019-03-22 11:36:15')]

In [11]:
p = (p0.append(p1)).append(p2)

In [12]:
len(p)

400

In [14]:
p['aug'] = False
p['size'] = 256

In [15]:
p.to_excel('../data/256_400time.xlsx')

In [13]:
p.head()

           day                time     train  num       val
96  2019-03-20 2019-03-20 21:30:52  0.488777  607  0.522700
97  2019-03-20 2019-03-20 21:32:34  0.514662  607  0.560335
98  2019-03-20 2019-03-20 21:34:15  0.485881  607  0.547192
99  2019-03-20 2019-03-20 21:35:56  0.522717  607  0.581243
100 2019-03-20 2019-03-20 21:37:37  0.519278  607  0.591398

In [150]:
p.loc[p.val==p.val.max()]

           day                time     train  num       val
468 2019-03-22 2019-03-22 13:10:34  0.525975  607  0.725806

In [151]:
p.loc[p.train==p.train.max()]

           day                time     train  num       val
673 2019-03-22 2019-03-22 18:19:32  0.610915  607  0.691756

In [152]:
vals = p.val.tolist()
trains = p.train.tolist()

In [ ]:
plt.figure(dpi=100)
plt.plot(vals)
plt.xlabel('次数')
plt.ylabel('c值 (c index)')
plt.savefig('c.png', dpi=300)

In [ ]:
plt.figure(dpi=100)
plt.plot(trains)