In [61]:
import pandas as pd

In [10]:
cur = pd.read_csv('current.txt', header=None)

In [19]:
cur['name'] = cur.loc[:, 0].str.slice(0, 12)

In [20]:
cur.head()

                                                   0          name
0  TCGA-D8-A1X7-01Z-00-DX1.3529AEED-2827-4D94-9A8...  TCGA-D8-A1X7
1  TCGA-D8-A1Y2-01Z-00-DX1.77451A0F-00FD-44A9-A0D...  TCGA-D8-A1Y2
2  TCGA-A8-A09I-01Z-00-DX1.B738E479-8766-4766-B01...  TCGA-A8-A09I
3  TCGA-E2-A1LK-01Z-00-DX1.5EBAA1F4-F1B4-4938-A51...  TCGA-E2-A1LK
4  TCGA-D8-A1XZ-01Z-00-DX1.8E51A61D-B01C-4A52-8F5...  TCGA-D8-A1XZ

In [27]:
target = pd.read_csv('samples.txt', header=None, index_col=0)

In [29]:
target.set_axis(['name'], axis=1, inplace=True)

In [30]:
target.head()

           name
0
0  TCGA-A8-A07S
1  TCGA-A2-A04Y
2  TCGA-BH-A0BO
3  TCGA-B6-A0I6
4  TCGA-BH-A0HQ

In [31]:
target_pool = set(target['name'].tolist())

In [40]:
cur_list = cur['name'].tolist()

In [41]:
cur_pool = set(cur_list)

In [32]:
print(len(target_pool), len(cur_pool))

770 1062

In [33]:
target_pool - cur_pool # all have been prepared

set()

In [55]:
for_bash_mv = cur.merge(target, left_on='name', right_on='name', how='inner')

In [56]:
len(for_bash_mv)

820

In [42]:
from collections import defaultdict

In [50]:
def helper():
    hist = defaultdict(int)
    rec = []
    for item in cur_list:
        if item in cur_pool:
            hist[item] += 1
            if hist[item] >= 2:
                rec.append(item)
    return rec

In [51]:
duplicate = helper()

In [52]:
len(duplicate)

71

In [53]:
duplicate[:5]

['TCGA-D8-A1X7',
 'TCGA-PL-A8LY',
 'TCGA-PL-A8LZ',
 'TCGA-D8-A27T',
 'TCGA-OK-A5Q2']

In [ ]:
"""One case has multiple slides, but the order of sliders seems ramdon. In this case, we don't pay attention to which one is selected
or maybe we can use all of them. Since the case is an integraty, the varying slides should represent the same symptom.
Here, I chose use all of them. 2018.11.18"""

In [57]:
for_bash_mv.head()

                                                   0          name
0  TCGA-D8-A1X7-01Z-00-DX1.3529AEED-2827-4D94-9A8...  TCGA-D8-A1X7
1  TCGA-D8-A1X7-01Z-00-DX2.F0631B8C-EB75-4995-8ED...  TCGA-D8-A1X7
2  TCGA-D8-A1Y2-01Z-00-DX1.77451A0F-00FD-44A9-A0D...  TCGA-D8-A1Y2
3  TCGA-D8-A1Y2-01Z-00-DX2.A563ABFE-18DE-4D78-BB6...  TCGA-D8-A1Y2
4  TCGA-A8-A09I-01Z-00-DX1.B738E479-8766-4766-B01...  TCGA-A8-A09I

In [64]:
address = pd.read_csv('address.txt', header=None) # need address

In [69]:
address['file'] = address.iloc[:, 0].str.split('/').apply(lambda x:x[-1])

In [71]:
for_bash_mv.set_axis(['add', 'name'], axis=1, inplace=True)

In [72]:
temp = address.merge(for_bash_mv, left_on='file', right_on='add')

In [73]:
len(temp)

820

In [74]:
temp.head()

,0,file,add,name
0,./part1/TCGA-D8-A1X7-01Z-00-DX1.3529AEED-2827-...,TCGA-D8-A1X7-01Z-00-DX1.3529AEED-2827-4D94-9A8...,TCGA-D8-A1X7-01Z-00-DX1.3529AEED-2827-4D94-9A8...,TCGA-D8-A1X7
1,./part1/TCGA-D8-A1Y2-01Z-00-DX1.77451A0F-00FD-...,TCGA-D8-A1Y2-01Z-00-DX1.77451A0F-00FD-44A9-A0D...,TCGA-D8-A1Y2-01Z-00-DX1.77451A0F-00FD-44A9-A0D...,TCGA-D8-A1Y2
2,./part1/TCGA-A8-A09I-01Z-00-DX1.B738E479-8766-...,TCGA-A8-A09I-01Z-00-DX1.B738E479-8766-4766-B01...,TCGA-A8-A09I-01Z-00-DX1.B738E479-8766-4766-B01...,TCGA-A8-A09I
3,./part1/TCGA-E2-A1LK-01Z-00-DX1.5EBAA1F4-F1B4-...,TCGA-E2-A1LK-01Z-00-DX1.5EBAA1F4-F1B4-4938-A51...,TCGA-E2-A1LK-01Z-00-DX1.5EBAA1F4-F1B4-4938-A51...,TCGA-E2-A1LK
4,./part1/TCGA-D8-A1XZ-01Z-00-DX1.8E51A61D-B01C-...,TCGA-D8-A1XZ-01Z-00-DX1.8E51A61D-B01C-4A52-8F5...,TCGA-D8-A1XZ-01Z-00-DX1.8E51A61D-B01C-4A52-8F5...,TCGA-D8-A1XZ

In [92]:
def writer():
    with open('bash_mv.txt', 'w+') as mv:
        for item in temp.iloc[:, 0]:
            name = item.split('/')[-1]
            line = 'mv ' + './breast_cancer' + item[1:] + ' ' + './prepared/' +name + ' '
            mv.write(line)

In [93]:
writer()

### history

In [2]:
file = pd.read_csv('leave5.txt', delimiter=r'\s+')

In [3]:
pool = set()
with open('ok6.txt') as ok:
    for line in ok.readlines():
        pool.add(line[:-1])

In [4]:
check = file['filename'].apply(lambda x:x in pool)

In [5]:
leave = file.loc[~check]

In [6]:
len(leave)

170

In [7]:
leave.to_csv('leave6.txt', sep='\t')

### Sample

In [6]:
samples = pd.read_csv('samples.txt', delimiter='\t', header=None, index_col=0)

In [13]:
samples.set_axis(['name'], axis=1, inplace=True)

In [15]:
samples.head()

               name
0
0  TCGA-E9-A1N6-01Z
1  TCGA-A2-A0EW-01Z
2  TCGA-BH-A0C1-01Z
3  TCGA-AR-A0U2-01Z
4  TCGA-BH-A1EV-01Z

In [2]:
cur15 = pd.read_csv('10_15.txt', header=None)

In [3]:
len(cur15)

338

In [16]:
cur15['name'] = cur15.iloc[:,0].str.slice(0, 16)

In [18]:
now15 = cur15.merge(samples, how='inner', left_on='name', right_on='name')

In [19]:
len(now15)

44

In [21]:
pool15 = set(now15['name'].tolist())

In [22]:
len(pool15)

44

In [23]:
leave15 = set(samples['name'].tolist()) - pool15

In [24]:
len(leave15)

102

In [27]:
source = pd.read_csv('leave2.txt', delimiter=r'\s+')

In [29]:
check = source['filename'].apply(lambda x:x[:16] in leave15)

In [30]:
sum(check)

104

In [31]:
supply15 = source.loc[check]

In [34]:
supply15.reset_index(drop=True, inplace=True)

In [35]:
supply15.to_csv('my3.txt', sep='\t')